.expert-list-holder {
  padding-top: 10px;

  .profile-circle-holder {
    text-align: center;
  }

  .left-side {
    width: 120px;
    float: left;
  }

  .right-side {
    margin-left: 140px;
  }
}