.landing-image-holder {
  position: relative;
  width: 100%;
  height: 500px;
  background: url(https://s3-us-west-2.amazonaws.com/wokaiqiao/Optimized-mountain.jpeg);
  background-size: cover;
  background-position: center;

  .landing-main-text {
    position: absolute;
    width: 100%;
    top: 200px;
    font-weight: bold;
    text-shadow: #000 2px 2px 15px;
    font-family: "pen-chinese";
    text-align: center;
    color: white;
    font-size: 80px;
    &.small-screen {
      font-size: 60px;
    }
  }
}

.landing-callout {
  margin-bottom: 0px !important;
}

.footer-link {
  color: grey;
}