.top-bar {
  width: 100% !important;
  border-bottom: 1px solid rgba(10,10,10,.25);
  background: white !important;

  .top-bar-right {
    a {
      margin-top: 8px;
      color: black;
    }
  }

  .small-menu-text {
    position: absolute;
    top: 10px;
    right: 10px;
  }
  
  .menu {
    background: transparent;

    .menu-text {
      font-size: 30px;
      font-family: "pen-chinese";

      a {
        padding: 0px;
        color: black !important;
      }
    }
  }
}