<html>
<head>

    
<title>我开窍 &mdash; 快来“窍”一下！</title>
    
<meta name="description" content="Make faster &amp; better decisions to grow your business. Clarity is your lifeline that instantly connects you with battle-tested advice from entrepreneurs. Find and schedule a call in minutes." />
<meta name="keywords" content="">

<meta name="default-title" content="我开窍 &mdash; 快来“窍”一下！">

<meta property="og:title" content="我开窍 &mdash; 快来“窍”一下！"/>
<meta property="og:description" content="Make faster &amp; better decisions to grow your business. Clarity is your lifeline that instantly connects you with battle-tested advice from entrepreneurs. Find and schedule a call in minutes." />
<meta property="og:image" content="https://clarity.fm/assets/marketing/clarity-og-image.jpg" />
<meta property="og:site_name" content="我开窍" />
<meta property="og:type" content="website" />
<meta property="og:url" content="http://www.wokaiqiao.com" /
>
<meta name="baidu-site-verification" content="0WgYIgWVxB" />
    
<link rel="canonical" href="http://www.wokaiqiao.com" />

  <link href="https://clarityfm-assets-production.s3.amazonaws.com/assets/app-0c29e914b593e672134e055def9f5f51.css" media="screen" rel="stylesheet" type="text/css" />

  <!--[if lt IE 9]><link href="https://clarityfm-assets-production.s3.amazonaws.com/assets/app/common/ie8-1c6fd862ee2e2bd8483f7a2443f4cf00.css" media="screen" rel="stylesheet" type="text/css" /><![endif]-->

</head>
<body>
  <div pub-key="pub-7b32c6d2-3fa7-4dfb-981e-6be84bfa9826" sub-key="sub-70d77cd1-5d0a-11e1-a981-830448eddeb7" ssl="on" origin="pubsub.pubnub.com" id="pubnub"></div>

  <div id="fb-root"></div>

  <div id="container" data-headjs-loading="true">
        <div class="burger-menu" data-disabled="true"></div>


    <div class="modal-overlay hidden"></div>
    <div class="modal-dialog hidden"></div>

      <article class="viewport" data-bootstrapped="true" data-disabled-burger-menu="true">
        <div class="panel active for-business-challenges" data-bootstrapped="true">
          <header></header>
          <article class="landing-for-business-challenges">
              <!-- <div class="background-image" style="background-image: url(https://dl-web.dropbox.com/get/5KaiQiao/Website/Landing%20page%20image%20%28Perdo%29%20-%2027%20Aug%202015.jpg?_subject_uid=76503048&w=AABOaGgOAGEhQP-CdwfPa8e0a_-8mUbalEBqXK1H45-m6w)"> -->
              <!-- <div class="background-image" style="background-image: url(https://dl-web.dropbox.com/get/5KaiQiao/Website/Landing%20page%20image%202%20%28Perdo%29%20-%2027%20Aug%202015.jpg?_subject_uid=76503048&w=AABZpMgASN17FiaMZZvKbpo-lkOc3D9f26KbkXqwrWO8sA)"> -->
              <div class="background-image" style="background-image: url(https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Confucius_Sculpture%2C_Nanjing.jpg/1024px-Confucius_Sculpture%2C_Nanjing.jpg)">
              <!-- <div class="background-image" style="background-image: url(https://pbs.twimg.com/media/BqGdJD4IUAA2fWF.jpg)"> -->
    <div class="dim"></div>
  </div>

  <div class="scrollable-content">
    <div class="column-right section-info-sign-in">
      <div class="pull-left">
        改变您的一生
      </div>
      <div class="pull-right">
          <span>赶紧行动吧！</span>
        </a>
      </div>
    </div>

    <div class="column-left">
      <div class="section-logo">
        <a href="/" class="logo internal" alt="我开窍">
          <!-- 我开窍 -->
          <!-- <img src="https://s3-us-west-2.amazonaws.com/wokaiqiao/Wokaiqiao_logo.png" width="100" height="100" alt="Clarity" class="desktop"> -->
          <!-- <img src="https://s3-us-west-2.amazonaws.com/wokaiqiao/Wokaiqiao_logo.png"width="50" height="50"  alt="Clarity" class="mobile"> -->
        </a>
      </div>
    </div>

    <div class="column-right section-value-props">
      <h1 class="tagline">听君一席话&nbsp;胜读十年书</h1>

      <p class="hook">“我开窍”平台为您提供与行业专家、顶级顾问、学术权威直接对话的难得机会，让您安坐家中就能与经验证的成功专业人士通过电话会议商讨企业计划书、获得战略性建议、进行市场调研、学习专业技能、解决学术上的烦恼。</p>

      <p class="hook">您还在等什么！</p>
        
      <p class="hook">“我开窍”即将上线，机不可失！赶快点按 以下按钮以登记成为免费会员，接收最新资讯，让您快人一步！</p>

      <div class="cta-wrapper">
        <a href="http://eepurl.com/bxb_XP" data-action="log-ax-conversion" class="btn btn-green signup-desktop-only">咱们开始吧</a>
        <!-- <a href="https://docs.google.com/forms/d/1qtI0FWM8b2ZQXcVxZlBFduHEZXlZresbxkr5Vz6xF6U/viewform" data-action="log-ax-conversion" class="btn btn-green signup-desktop-only">咱们开始吧</a> -->
      </div>

      <div class="content-padding"></div>
    </div>


  </div>

  <div class="section-footer">
    <div class="column-right help-links">
      <div class="link-wrapper">
        <a href="https://docs.google.com/forms/d/1qtI0FWM8b2ZQXcVxZlBFduHEZXlZresbxkr5Vz6xF6U/viewform" class="internal">我开窍市场调查</a>
      </div>
    </div>

  </div>


          </article>
          <footer></footer>
        </div>
      </article>

  </div>

 
</body>
</html>
