.profile-circle {
  border-radius: 50%;
  background-repeat: no-repeat; 
  background-position: center center; // Center image in the circle
  background-size: cover; // Make sure it covers the circle, as there is no bg repeat
  box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);

  @media only screen and (max-width: 40em) {
    width: 150px;
    height: 150px;
  }
}

.button {
  border-radius: 5px !important;
}

input {
  border-radius: 5px !important;
}

.footer-link {
  color: grey;
}